/* import */
@font-face {
    font-family: Turret;
    src: url('/Turret_Road/TurretRoad-Regular.ttf');
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root {
    --back: black;
    --grey-1: white;
    --grey-2: grey;
    --grey-3: dimgrey;
    --lime: lime;
    --bronze: brown;
    --gold: gold;
    --red: red;
    --blue: blue;
}

body {
    padding: 2rem;
    color: var(--grey-1);
    background-color: var(--back);
    font-family: Turret;
}

main {
    padding: 1rem;
    min-height: 85vh;
    border: .5rem solid var(--grey-3);
    border-radius: 2rem;
}

#logo {
    position: relative;
    width: fit-content;
    margin: auto;
    background-color: rgba(50,150,150,.5);
    border-radius: 4rem;

}

h1 {
    color: var(--white);
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
    padding: 2rem;
}

#icon {
    position:absolute;
    width: 15%;
    top: 33%;
    left: 22.5%;
}

button {
    background-color: var(--lime);
    padding: 1rem;
    border-radius: 1rem;
    font-family: Turret;
    font-weight: 700;
}

form {
    margin: 2rem;
    font-size: 2rem;
    text-align: center;
}

input {
    font-size: 2rem;
    padding: .5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#start {
    display: block;
    margin: auto;
    font-size: 3rem;
}

#signup {
    display: block;
    margin: 3rem auto;
    background-color: violet;
    font-size: 1.5rem;
}

#wizard {
    background-image: url('/body.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

#wizard>button {
    position: absolute;
}

#wizard #upper {
    top: 28%;
    left: 42%;
}

#wizard #core {
    top: 42%;
    left: 45%;
}

#wizard #lower {
    top: 60%;
    left: 42%;
}

#wizard #chest {
    top: 35%;
    left: 41%;
}

#wizard #shoulders {
    top: 25%;
    left: 25%;
}

#wizard #arms {
    right: 20%;
    top: 40%;
}

#wizard #double {
    top: 55%;
    left: 43%;
}

#wizard #single {
    top: 65%;
    left: 35%;
}

label {
    font-size: 2rem;
    font-weight: 700;
}

[type="checkbox"] {
    appearance: none;
}

[type="checkbox"]:checked~label {
    text-decoration: line-through;
    color: var(--grey-3);
}

#reward {
    display: block;
    margin: auto;
    width: 70%;
}